{% extends "base.html.twig" %}

{% block title %}O'Flix{% endblock %}

{% block body %}

    {# dans ce block je pourrais mettre une entête ou pas #}
    {% block header %}{% endblock %}

    <div class="container-xl bg-light p-5 border-top">

        <div class="row mb-2">

            {% include "front/partials/nav_genres.html.twig" %}

            <div class="col-12 col-lg-9">

                <h2 class="text-muted fw-bold mb-4">
                {# dans ce block je pourrais mettre un titre #}
                {% block subtitle %}{% endblock %}
               </h2>

                {# boucle pour affichage des films #}
                {% for movie in listMovies %}

                
                    <div class="row g-0 border rounded overflow-hidden flex-md-row  align-items-start mb-4 shadow-sm bg-white position-relative" >
                        <div class="col-4 movie__poster img-thumbnail" style="background-image: url({{movie.poster}});">
                            <img src="images/poster-placeholder.png" class="img-fluid">
                        </div>
                        <div class="col-8 p-4 d-flex flex-column position-static">

                            <form action="{{ path('favorites_add') }}" method='post'>
                                <input type="hidden" name="id_favorite" value="{{movie.id}}"/>
                                <button class="movie__favorite fs-1 my-2 mx-3 btn-outline-light"><i class="bi bi-bookmark-heart-fill "border-style-none style="color: red"></i></button>
                            </form>
                            
                            <strong class="d-inline-block mb-2 text-primary">
                                {{movie.type}}
                            </strong>
                            <h3 class="mb-1">
                                {{movie.title}}
                            </h3>
                            <div class="mb-1 text-muted">
                                {{movie.duration}} min
                            </div>
                            <p><small>
                                {{movie.summary}}
                            </small>
                            </p> 

                            {% include "front/partials/rating_movie.html.twig" %}

                            <a href="{{ path('movieShow',{slug: movie.slug}) }}" class="fs-1 mt-3 text-danger align-self-start">
                                <i class="bi bi-arrow-right-square"></i>
                            </a>
                        </div>
                    </div>

                {% else %}

                    <em>Aucun film à regarder</em>

                {% endfor %}

            </div>

            <nav class="col-lg-9 offset-lg-3">
                <ul class="pagination">
                {{ knp_pagination_render(listMovies) }}  
                </ul>
            </nav>

        </div>

    </div>

{% endblock %}